@import "../../../../../variables";

mat-card {
  max-width: 30em;
  margin-right: 2em;
  margin-bottom: 2em;

  mat-card-content {
    margin: 20px 10px;
  }

  mat-card-actions {
    text-align: right;
  }

  .disconnected {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    color: $warn;
    font-weight: bold;
  }
}
