@import "../../../../../variables";

mat-card {
  max-width: 30em;
  margin-right: 2em;
  margin-bottom: 2em;

  mat-card-header {
    margin-right: 5em;
  }

  mat-card-content {
    margin: 20px 10px;
  }

  mat-card-actions {
    text-align: right;
  }

  .info {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
  }
}
