<mat-card [ngClass]="{disconnected: !device.isConnected}">
  <mat-card-header>
    <div class="info">
      <mat-icon color="warn" *ngIf="!device.isConnected" title="Disconnected">power_off</mat-icon>
      <sh-device-on-off *ngIf="!device.isSingleSwitch && device.isConnected"
                        [isEnabled]="true"
                        (toggle)="onOff($event)"></sh-device-on-off>
      <button mat-icon-button [routerLink]="['..', 'device', device.id]">
        <mat-icon>info_outlined</mat-icon>
      </button>
    </div>
    <mat-card-title>{{device.name}}</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <sh-switch-status *ngFor="let outlet of device.switches.keys()"
                      [isEnabled]="device.isConnected"
                      [deviceId]="device.id"
                      [switchModel]="device.switches.get(outlet)"
                      (change)="toggle($event)"></sh-switch-status>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <sh-last-update [lastUpdate]="device.lastStatusChangeTimestamp"></sh-last-update>
  </mat-card-actions>
</mat-card>
