<div class="switch-status">
  <div class="switch-status-wrapper">
    <sh-core-inline-edit class="name"
                         [name]="switchModel.name"
                         [maxLength]="10"
                         [renameError$]="getDeviceSwitchRenameErrorEffect()"
                         [renameSuccess$]="getDeviceSwitchRenameSuccessEffect()"
                         (onRename)="onRename.next($event)"
    ></sh-core-inline-edit>
    <mat-button-toggle-group [disabled]="!isEnabled"
                             [value]="switchModel.status"
                             (change)="toggle($event)"
                             class="status">
      <mat-button-toggle [value]="availableValues.ON" class="on">{{availableValues.ON | uppercase}}</mat-button-toggle>
      <mat-button-toggle [value]="availableValues.OFF"
                         class="off">{{availableValues.OFF | uppercase}}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
